@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.warn
{
color: #d9210d;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight:300;
padding:20px;
font-size: x-large;
}
.gas
{
  color: #d9210d;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:300;
  padding-bottom: 10px;

}
