<app-navbar></app-navbar>

<div class="first" >
<video  autoplay muted loop plays-inline src="https://media.istockphoto.com/id/1916298368/video/chemical-plant-sunset-landscape.mp4?s=mp4-640x640-is&k=20&c=Vt-DiMFLvOu7ayaeDke3zcuyQOcPsbu51VBI6JTCgzs=">


</video>




</div>
 

<div class="move">
  <marquee ehavior="" dbirection="">
<p><span style="color: #4b7b81;"> Customer service :&nbsp; </span> Interactive voice response from mobile phone 5896 and Ground 0900052622 and the customer service hotline throughout the weekend from 9 am to 9 pm except Friday &nbsp;&nbsp; &nbsp; &nbsp; </p>

</marquee>
</div>
<br><br><br>
<br>
<br>
<div class="row">

  <div class="col-6" style="padding-left: 5%;padding-right: 3%;">
    
      <img class="picture" src="https://vid.alarabiya.net/images/2022/04/28/35f1dd53-51a2-48cd-a85d-5b5328de4f56/35f1dd53-51a2-48cd-a85d-5b5328de4f56.jpg?crop=4:3&width=1200" alt="">

  </div>
  <div class="col-6">

    <div class="text2">
    <h2>WHO WE ARE </h2>
    <P>
      Petrotrod Company was established in order to advance production and participate effectively in the process of development and economic and social renaissance that the country is witnessing, as one of the most important goals of the company was to provide job opportunities for young graduates by reading natural gas consumption meters in homes and commercial activities, issuing invoices, and collecting Authority dues. Petroleum from customers, natural gas consumers, implementing and managing a project to collect and process returned oils, refining them, and exporting the surplus abroad. It also contributed an effective role in implementing the Ministry of Petroleum’s plan for its development in Upper Egypt.
    
    </P>
    </div>
  </div>
</div>

<div class="card w-50" class="sec">

<img src="https://media.istockphoto.com/id/910133050/vector/vector-oil-industry-infographics-offshore-platform.jpg?s=1024x1024&w=is&k=20&c=bnEIRc594pZJYXw4Tsg3_RE7_i1784LUYW74Gs_2MjI=" alt="" style="width: 100%;">
</div>
<br>

<div class="row" >
<div class="grid"> <h1>PETROTROD GRID</h1>
<br><br></div>


  <div class="col-6">


    <video  class="v1" autoplay muted loop plays-inline src="https://www.shutterstock.com/shutterstock/videos/1060636072/preview/stock-footage-oil-worker-standing-among-the-oil-pump-jacks-oil-industry-crude-oil-prices-concept.webm">


    </video>
    <div class="text">
          <h2>Grid overview</h2>
          <p>PETROTROD grid is the vital link in the energy chain between entry points and exit points it is one of the largest and longest in Africa and the Middle East, with a length that reaches 7,920 kilometers, compared to 2,800 kilometers when PETROTROD was first established in 1997 this led to an increase of transportation capacity by more than six times to reach 250 BSCMD and 8.83 BSCF per day in Q-1 of 2020, compared to 37 million cubic meters [1.31 BSCF] per day in March 1997</p>
    </div>
     
  </div>

  <div class="col-6"> 


    <video class="v2" autoplay muted loop plays-inline src="https://www.shutterstock.com/shutterstock/videos/1055235707/preview/stock-footage-compressor-station-gas-exports-to-turkey-and-southern-and-southeastern-europe-aerial-view-anapa.webm">


    </video>
       <div class="text">
        <h2>Compressor Stations</h2>
        <br>
        <p>DASHOUR compressor station was established in October 2011 in order to supply natural gas to the industrial sector and Power Stations in Upper Egypt to contribute in the state’s plan to develop the Upper Egypt region.
          <br>
          <br>
          <br>
          
        </p>
 
    </div>
     
     
  </div>
  </div>
  <div class="row">
  <div class="col-6"> 
        <div style="margin-top: -15%;">
    <video class="v3" autoplay muted loop plays-inline src="https://www.shutterstock.com/shutterstock/videos/1056395507/preview/stock-footage-empty-office-desk-and-chairs-at-a-main-cctv-security-data-center.webm">


    </video>
    
    <div class="text">
      <br>
      <h2>NATA</h2>
    
      <p>
        NATA
        is the main SCADA control system, which is used for management and operation of national gas network by PETROTROD</p>
<br><br>
    </div>
     
  </div>
</div>
  <div class="col-6">
    <div style="margin-top: -15%;">
    <video class="v4" autoplay muted loop plays-inline src="https://www.shutterstock.com/shutterstock/videos/1106711623/preview/stock-footage-franchise-concept-business-technology-internet-and-network-concept.webm">


  </video>
  <div class="text">
    <h2>Distribution Network concession</h2>
    <br>
    <p>

   PETROTROD is responsible for supplying & distributing gas in two industrial concessions (10th of Ramadan Industrial area & Free zone Industrial Area in Alexandria) with total customers of 432 customer
     
  <br><br></p>

  </div>
   
   </div>
  
  </div>

</div>

<br>
<br>
<br>




<div class=" row" >

    <div class="col-md-4"  >
      <div class="card w-100" class="add">
      <div class="card-body">
        <h1 class="card-title">
            <i class="fa-solid fa-bottle-droplet"></i>
            <br>
            OILS
        </h1>
        <hr>
        
         <h3>used oils</h3>
       
        
          <ul>

            <li> Marine oils</li>
              <li>Used mineral oils (car and engine oils)</li>
              <li>Used marine oils </li>
              <li>Hydrocarbon wastes of both liquid and solid types</li>
              <li>Industrial waste water</li>
          </ul>
        
      </div>

      </div>

    </div>
    <div class="col-md-4">
        
        <div class="card w-100" 
        class="add">
           
        
        <div class="card-body">
              <h1 class="card-title"><i class="fa-solid fa-bullhorn"></i>

                <br>
                 MARKETING
                 
              </h1>
           <hr>
              <h3>exhibitions              </h3>
       
              <br>
              <ul>
    
                <li> Amoc Company Exhibition</li>
                  <li>Tharwa Petroleum Company Exhibition</li>
                  <li>EGAS Exhibition </li>
                  <li>Abu Qir Petroleum Company Exhibition</li>
                <br>
              </ul>
            </div>
      
            </div>
      
    </div>


    <div class="col-md-4" >
        
        <div class="card w-100" class="add"
        >

            <div class="card-body">
              <h1 class="card-title">
                <i class="fa-solid fa-rectangle-ad"></i>
                <br>
                ADVERTISEMENTS
              </h1>
              <hr>
              
     
       <br>
       
       
<div class="third">
        <p>  <i class="fa-solid fa-house"></i> address: 21 Sibawiya El Masry St., off El Tayaran St. - Nasr City
        </p>
        <p>
          
          <i class="fa-solid fa-phone"></i>
          phone:
         22612229 - 22611474 - 22619994 (00202)
    
        </p>
        <p>
          
          <i class="fa-solid fa-envelope"></i>
          Fax:
          22695267 (00202)
          
        </p>
     <!--   هنا هيكون عنصر الايميل بتاع الموقع و الايقونة بتاعته -->
     
      </div>
            </div>
      
            </div>
      
    
    </div>
</div>

<br><br>
<app-nav2></app-nav2>
