<div class="blockcode" style="background-color: rgb(8, 8, 8);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: aliceblue;margin-left: -15px;margin-right: -10px;">
    
  
    <footer class="page-footer shadow">
      <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
        <div class="d-flex flex-wrap justify-content-between">
          <div>
           <a routerLink="/start" class="fff" ><h5>Home page</h5> </a>
          <br>
       
            <span class="mt-4">
              <button class="btn btn-dark btn-flat p-2">
                <i class="fa-brands fa-facebook"></i>
              </button>
              <button class="btn btn-dark btn-flat p-2">
              
 
<i class="fa-brands fa-twitter"></i>
              </button>
              <button class="btn btn-dark btn-flat p-2">
                
 
<i class="fa-brands fa-instagram"></i>
              </button>
            </span>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Services</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/">Resources</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/start">About Us</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Contact</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Blog</a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Help</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/">Support</a>
              </li>
              <li class="my-2">
                <a class="text-dark" routerLink="/signup">Sign Up</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/">Complaints</a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Company areas</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
               
                <p class="text-dark">Great Cairo</p>
              </li>
              <li class="my-2">
                <p class="text-dark" >Alexandria</p>
              </li>
              <li class="my-2">
                <p class="text-dark" >Delta</p>
              </li>
              <li class="my-2">
                <p class="text-dark" href="/">Canal and Sinai</p>
              </li>
            </ul>
          </div>
        </div>
        <small class="text-center mt-5">&copy; petrotrod, 2024. All rights reserved.</small>
      </div>
    </footer>
  </div>
